<ol class="breadcrumb">
  <li><a href="admin/">Admin Panel</a></li>
  <li><a href="#">Dashboard</a></li>
  <li class="active">Overview</li>
</ol>
<h1>Dashboard</h1>
<p>
  Dashboard is <a rel="nofollow" href="http://www.templatemo.com/preview/templatemo_415_dashboard">free admin template</a> for everyone. Credits go to <a href="http://chartjs.org">Chart JS</a>, <a href="http://getbootstrap.com">Bootstrap</a>, and <a href="http://jqvmap.com">JQVMap</a>. templatemo provides <a href="#">free website templates</a> that can be used for any purpose. Morbi id nisi enim. Ut congue interdum pharetra facilisi. Aenean consectetur pellentesque mauris nec ornare. Nam tortor just, condimentum.
</p>

<div class="margin-bottom-30">
  <div class="row">
    <div class="col-md-12">
          
    </div>
  </div>
</div>         

<div id="body" class="row">
</div> 